<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{clients}"></title>
</head>
<body>
<section layout:fragment="header">
    <h1 th:text="#{clients}"></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard" th:text="#{dashboard}"></i></a></li>
        <li class="active" th:text="#{clients}"></li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <a href="/clients/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all"/>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="table-responsive">
                <table id="dtl" th:class="${tableCSS}">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th th:text="#{name}"></th>
                        <th th:text="#{email}"></th>
                        <th th:text="#{address}"></th>
                        <th th:text="#{phoneNumber}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row : ${list}">
                        <td th:text="${row.id}"></td>
                        <td th:text="${row.name}"></td>
                        <td th:text="${row.email}"></td>
                        <td th:text="${row.address}"></td>
                        <td th:text="${row.phoneNumber}"></td>
                        <td>
                            <a th:href="${'/clients/edit/' + row.id}" th:text="#{viewEdit}" class="btn btn-success"></a>
                            <a th:href="${'/clients/delete/' + row.id}" th:text="#{delete}" th:onclick="'javascript:return confirm(\''+#{sureDelete} +'\');'" class="btn btn-danger"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<div class="box-footer clearfix">-->
        <!--<ul class="pagination pagination-sm no-margin pull-right">-->
        <!--<li><a href="/clients/1">First</a></li>-->
        <!--<li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}"-->
        <!--th:class="${p == currentIndex} ? 'active' : ''">-->
        <!--<a th:href="${'/clients/' + p}" th:text="${p}"></a>-->
        <!--</li>-->
        <!--<li><a th:href="${'/clients/' + endIndex}">Last</a></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
</div>
</body>
</html>